<html>
<head>
  <title>360 Image Uploader</title>
</head>
<body>
  <h1>360 Image Uploader</h1>
  <form method="POST"
    action="/upload"
    enctype="multipart/form-data">

    <input type="file" name="your-files" multiple/>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
